.modal {
  background-color: rgba(8, 7, 7, 0.918); 
  z-index: 999;
  position: fixed;
  left: 0%;
  right: 0%;
  bottom: 0%;
  top: 0%;
  animation: fadeIn 0.9s ease-in-out;
  backdrop-filter: blur(2px);
  border-radius: 10px;
  overflow-y: auto;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1920px;
  margin: auto;
}

.fading-in {
  animation: fadeIn 0.4s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1) rotate(+360deg);
  }
}

.fading-out {
  animation: fadeOut 0.6s ease-in-out forwards;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    transform: scale(0.5) rotate(-180deg);
  }
}

img.modal-image-left {
  width: 44px;
  position: absolute;
  left: 10%;
}

img.modal-image-right {
  width: 44px;
  position: absolute;
  right: 10%;
}

img.modal-image-left:hover,
img.modal-image-right:hover {
  cursor: pointer;
  transform: scale(1.2); 
  transition: transform 0.3s ease-in-out; 
}


button {
  padding: 6px 30px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
}

.active-tab {
  background-color: #007bff;
  color: #fff;
}

button:hover {
  cursor: pointer;
  background-color: rgb(39, 189, 39);
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(8, 7, 7, 0.779); 
  height: 80%;
  width: 90%;
  border: 1px solid rgba(211, 211, 211, 0.403);
  border-radius: 12px;
}

.pokemon-image-container {
  display: flex;
  justify-content: center;
}

#second-modal img {
  margin-top: 10px;
  width: 100px;
  height: auto;
  object-fit: cover;
}

#evolution-tab {
  width: auto;
}

h3 {
  font-family: 'Montserrat Alternates';
  color: white;
  text-decoration: none;
  text-align: center;
}

.modal-content-wrapper {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tabs {
    margin-top: 10px;
    justify-content: space-evenly;
    display: flex;
    width: 100%;
    transition: 500ms ease-in-out;
}

.tabs button {
  cursor: pointer;
}

button.close {
  margin-top: 6px;
  padding: 6px 6px;
  background-color: red;
  cursor: pointer;
}

.tab-container {
  max-width: 90%;
}

.tabcontent {
  display: none;
  margin-top: 20px;
  padding: 10px;
  width: 80%;
  height: auto;
  max-height: 520px;
  color: white;
  display: grid;
  justify-content: center;
  overflow: auto;
}

.tabcontent ul {
  font-family: 'Montserrat Alternates';
  font-size: 16px;
  font-weight: 400;
  column-count: 2;
  column-gap: 50px;
}

@media(max-width: 820px) {
  .tabs button {
    padding: 6px 30px;
    font-size: 14px;
  }
  .tabcontent ul {
    column-count: 2;
  }
}

@media(max-width: 640px) {
  .tabcontent ul {
    font-size: 12px;
    column-count: 1;
  }
  .tabcontent {
    text-align: center;
    padding: 0;
    padding-left: 0;
  }
  .tabs {
    flex-direction: column;
    margin-top: 10px;
    justify-content: space-evenly;
    display: flex;
    transition: 500ms ease-in-out;
    width: 50%;
    gap: 6px;
  }
  img.modal-image-right {
    top: 13%;
  }
  img.modal-image-left {
    top: 13%;
  }
}

.closing {
  display: flex;
  justify-content: center;
}

.poke-list {
  position: fixed;
  display: flex;
  flex-wrap: wrap; 
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 999; 
  max-height: 70%; 
  overflow-y: auto; 
  gap: 20px; 
}

.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.897); 
  display: none; 
  margin: auto;
  top: 8%; 
  left: 0%; 
  right: 0%; 
  bottom: 0%; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  border-radius: 10px;
  z-index: 998;
}

.close-button {
display: flex;
justify-content: center;
margin-top: 2%;
}

.close-button button:hover {
  cursor: pointer;
  background-color: rgb(22, 196, 22);
}

@media(max-width: 740px) {
  .overlay {
    top: 0;
  }
}

@media(max-width: 620px) {
  button {
    padding: 3px 20px;
  }
}

@media(max-width: 350px) {
  .tabs button {
    font-size: 12px;
  }
}














