.side-wrapper {
    max-width: 1920px;
    margin: auto;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(22 29 36);
}

*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    background: #0e0d0d;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(16 14 15);;
    border-radius: 20px;
    border: 1px solid grey;
}

.main-section {
    margin: auto;
    margin-top: 20px;
    background-color: #32404d;;
}

.poke {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    column-gap: 20px;
}

.loading {
    border: 4px solid #f3f3f3; /* Leichter grauer Rand */
    border-top: 4px solid #1d851d; /* Blauer oberer Rand */
    border-radius: 50%; /* Rundet die Ecken ab für einen Kreis */
    width: 100px; /* Breite des Kreises */
    height: 100px; /* Höhe des Kreises */
    animation: spin 2s linear infinite; /* Animation: Drehung für 2 Sekunden, linear, unendlich oft */
    margin: 20px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); } /* Anfangsposition: keine Drehung */
    100% { transform: rotate(360deg); } /* Endposition: eine volle Drehung */
}

.load-more-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.load-more-container button {
    background: linear-gradient(to bottom, rgba(187, 132, 61), rgba(128, 14, 14, 0));
}

.load-more-container button:hover {
    background: linear-gradient(to bottom, rgba(187, 132, 61, 2), rgba(128, 14, 14, 1)); /* Farbverlauf beim Hover */
}


.closing {
    height: 1px;
    background-color: white;
    border: 1px solid lightgrey;
}